@import url("https://fonts.googleapis.com/css?family=Kanit:400,600,700,700i,800,900");
.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { *zoom: 1; }

body { background-image: url(../_img/bg2.jpg); background-size: 1200 1200; background-attachment: fixed; background-position: cover; background-repeat: no-repeat; }

#container { background-color: #eee; width: 100%; max-width: 1000px; height: auto; margin: 0px auto; padding: 10px; }

.clear { clear: both; }

.headerbox { outline: solid 2px red; }

header { border-top: solid 2px orange; }

header h1 { width: 100%; height: auto; text-align: left; font-family: 'Kanit', sans-serif; color: orange; font-size: 50px; font-weight: bold; }

#mainmenu { text-align: left; }

#mainmenu a { font-family: 'Kanit', sans-serif; font-size: 15px; display: inline-block; text-decoration: none; text-transform: uppercase; color: black; margin: 10px; transition: 1s all; }

#mainmenu a:hover { color: orange; transition: 1s all; }

.hamburger { width: 25px; margin: 10px 0px; transition: .5s all; display: none; }

@media screen and (max-width: 550px) { header h1 { font-size: 25px; }
  .pageTitle { font-size: 25px; }
  #mainmenu .links { display: none; }
  #mainmenu .hamburger { display: inherit; }
  .hamburger-expanded #mainmenu .links { display: block; }
  .hamburger-expanded #mainmenu .links a { display: block; }
  .hamburger-expanded #mainmenu .hamburger { -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); } }

#mainmenu2 { width: 100%; border-top: solid 2px orange; text-align: center; margin-top: 20px; }

#mainmenu2 a { font-family: 'Kanit', sans-serif; font-size: 15px; display: inline-block; text-decoration: none; text-transform: uppercase; color: black; margin: 10px; transition: 1s all; }

#mainmenu2 a:hover { color: orange; transition: 1s all; }

.img-respond { width: 100%; height: auto; }

.splashImg { border-radius: 10px; }

.pageTitle { font-family: 'Kanit', sans-serif; font-weight: bold; margin: 20px auto; text-align: center; border-bottom: solid 2px orange; }

article h3 { font-weight: bold; font-family: 'kanit', sans-serif; }

article h4 { font-family: 'kanit', sans-serif; }

article p { font-family: 'kanit', sans-serif; font-weight: normal; }

sidebar h4 { font-weight: bold; font-family: 'kanit', sans-serif; }

sidebar img { margin: 10px 0px; }

footer { margin-top: 0px; border-top: solid 2px orange; text-align: center; }

/*-------------------------------------
| Gallery Styles
-------------------------------------*/
#gallery img { margin: 15px 0px; opacity: .5; transition: 1s all; }

#gallery img:hover { opacity: inherit; transition: 1s all; }

/*-------------------------------------
| lightbox
-------------------------------------*/
#theLight { background-color: white; padding: 10px; width: auto; margin-left: -300px; margin-top: -200px; position: fixed; left: 50%; top: 50%; z-index: 100; display: none; }

#theLight .close { width: 100%; max-width: 20px; height: auto; margin: 5px; position: absolute; top: 10px; right: 10px; }

#theDark { background-color: black; opacity: .8; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 50; display: none; }

/*-------------------------------------
| contact form
-------------------------------------*/
#contact { background: #F9F9F9; padding: 25px; margin: 50px 0; font-family: 'kanit',sans-serif; }

fieldset { border: medium none !important; margin: 0 0 10px; min-width: 100%; padding: 0; width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea { width: 100%; border: 1px solid #CCC; background: #FFF; margin: 0 0 5px; padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover { border: 1px solid #AAA; }

#contact textarea { height: 100px; max-width: 100%; resize: none; }

#contact button[type="submit"] { cursor: pointer; width: 100%; border: none; background: #999; color: #FFF; margin: 0 0 5px; padding: 10px; font-size: 15px; }

#contact button[type="submit"]:hover { background: orange; }
